.raja
{
    height: 1100px;
    width: 20%;
    background-color:rgb(12, 104, 121);
    margin-left: 35%;
    border-style: solid;
    margin-top: 10%;
    text-align: center;

}
.ggg
{
    text-align: center;
    margin-top: 65%;
    margin-left: 10%;
}
.iii
{
    text-align: center;
}
.ggg
{
    margin-top: 25%;
    width: 30%;
}
button
{
    background-color: aliceblue;
    width: 8%
}
.xxx
{
    background-color: rgb(240, 239, 239);
    width: 20%;
    height:50px;
}